<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 Radiare</p>
    </footer>
</div>
</html>