<%- include("../partials/head") %>

<div class="container">
  <div class="row mt-5">
    <h4>Order Details</h4>
    <hr />
    <h5>Delivered To:</h5>
    <ul>
      <li>
        <%= data.shipping.name %> <br />
        <%= data.shipping.address %>, <%= data.shipping.city %>, <%=
        data.shipping.state %>, <%= data.shipping.country %>, <%=
        data.shipping.postal_code %>
      </li>
    </ul>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% data.items.map((item) => { %>
        <tr>
          <td><%= item.item %></td>
          <td><%= item.quantity %></td>
          <td><%= (item.amount).toFixed(2) %></td>
        </tr>
        <% }) %>
      </tbody>
      <tr>
        <td></td>
        <td>Sub Total</td>
        <td><%= (data.subtotal).toFixed(2) %></td>
      </tr>
      <tr>
        <td></td>
        <td>GST</td>
        <td><%= ((data.subtotal) * 5 / 100).toFixed(2) %></td>
      </tr>
      <tr>
        <td></td>
        <td>Order Packing Charges</td>
        <td><%= data.packingCharges.toFixed(2) %></td>
      </tr>
      <tr>
        <td></td>
        <td>Delivery Charges</td>
        <td><%= data.deliveryCharges.toFixed(2) %></td>
      </tr>
      <tbody>
        <tr>
          <td></td>
          <td>TOTAL</td>
          <td>
            <%= ((data.subtotal) + (data.subtotal * 5 / 100) +
            (data.packingCharges) + (data.deliveryCharges)).toFixed(2) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-row justify-content-between mt-3">
    <div>
        <a href="/"><button class="btn btn-secondary">Home</button></a>
    </div>
    <form method="POST" action="/downloadInvoice">
        <button type="submit" class="btn btn-secondary">Download Invoice</button>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
