<%- include("../partials/head") %>

<div class="container">
    <div class="row mt-5">
        <div class="alert alert-danger" role="alert">
            Oops! The requested details for id "<%= id %>" is not found in database.
            Please try again with another Id.
          </div>
          <div>
            <a href="/"><button class="btn btn-secondary">Home</button></a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>