<%- include("../partials/head") %>

<body>
  <div class="container">
    <div class="row">
      <form onsubmit="handleSubmit(event)" method="POST" action="/getOrder">
        <div class="mb-3">
          <label for="inputId" class="form-label">Id</label>
          <input type="text" name="id" class="form-control" id="inputI" />
        </div>
        <button type="submit" class="btn btn-secondary">
          Get Order Details
        </button>
      </form>
    </div>
  </div>
  <script>
  </script>
</body>

<%- include("../partials/footer") %>
